.button{
  display: flex;
  justify-content: center;
  background-color: orange;
  border: none;
  border-radius: 20px;
  padding:10px;
  font-size: 30px;
  cursor: pointer;
  margin: 5px;
  text-align: center;
}